

/*  ============== Pc and Mobile ============== */
.mobile-home{
  display: none;
}
/* {=============== Hero Section Start =====================} */
#hero {
  padding: 33px 0 84px 0;
  transition: 0.4s;
  position: relative;
}
.hero-img {
  top: 5px;
  /* transition: 1s;
  transform: scale(0.5);
  opacity: 0; */
}
.hero-left .section-title{
  background: linear-gradient(90deg, #6AFFB0 0%, #00DDFF 52.43%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
opacity: 0;
transition: 1s;
transform: translateY(-100px);
}
.hero-left p {
  opacity: 0;
transition: 1s;
transform: translateY(80px);
}
.social-link-item{
  width: 250px;
  padding: 15px 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  left: 11%;
  bottom: 11%;
  opacity: 0;
transition: 1.5s;
transform: translateY(-100px);
}
.social-link-item a{
transition: 0.4s;
}
.social-link-item a:hover{
transform: scale(1.1);

}
.social-link-item img{
  width: 100%;
}
span.typed-cursor.typed-cursor--blink {
  display: none;
}
.hero-btn:hover{
  transform: scale(1.05);
}
.hero-img img {
  z-index: -1;
  width: 95%;
  height: 800px;
}
.hero-warrper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.hero-left{
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  left: 12%;
  top: 23%;
}
.join-btn{
  opacity: 0;
  transition: 1.2s;
  transform: translateY(80px);
}
.join-btn a{
  transition: 0.4s;
}
.join-btn a:hover{
  transform: scale(1.05);
}
.join-btn img{
  width: 200px;
}
.hero-right{
width: 50%;
top: 23%;
right: 0%;
opacity: 0;
transition: 1.2s;
transform: scale(0.5);
position: absolute;
}
.hero-imgs{
  transition: 0.4s;
  cursor: pointer;
}
.hero-imgs:hover{
  transform: scale(1.05);
}
.hero-imgs img{
  width: 80%;
}
.hero-warrper .join-discord-btn {
  border: none;
  margin-top: 30px;
  background: none;
  cursor: pointer;
  transition: 0.4s;
}
.hero-warrper .join-discord-btn:hover {
  transform: scale(1.05);
}

/* {=============== Hero Section End =====================} */
/* {================== Roadmap start =================} */

.talent-tool-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.talent-tool-con{
  margin-top: 50px;
  display: grid;
  gap: 0px;
  grid-template-columns:1fr 1fr 1fr;
  align-items: center;
}
.talent-item-buttom {
  position: absolute;
  bottom: -56%;
}

.talent-item img{
  cursor: pointer;
  transition: 0.4s;
}
.talent-item {
  opacity: 0;
  transition: 1s;
  cursor: pointer;
}
.talent-item img:hover{
  transform: scale(1.05)
}
.talent-item img{
  width: 85%;
}
.talent-content{
  text-align: left;
}
.talent-content .section-title{
  margin-bottom: 15px;
}
.talent-item-1{
  transform: translateX(-200px);
}
.talent-item-2{
  transform: scale(0.5);
}
.talent-item-3{
  transform: translateX(400px);
}
.talent-item-4{
  transform: translateY(400px);
}
/* {================= Remote Job Start ====================} */
.remote-job {
  margin-top: 250px;
}
.remote-content {
  opacity: 0;
  transition: 1s;
  transform: translateX(-100px);
}
.remote-content img {
  width: 100%;
}
.remote-job-wrapper {
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.remote-job-img{
  opacity: 0;
  position: absolute;
  right: 0%;
  transition: 1s;
  cursor: pointer;
  transform: scale(0.5);
}
.remote-job-img:hover{
  transform: scale(1.05);
}
.remote-job-img img {
  width: 90%;
}
/* {================= Remote Job end ====================} */

/* {=================== virtual-office start ==================} */
.virtual-office {padding: 150px 0 100px 0;}
.virtual-wrapper{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
  margin: auto;
  align-items: center;
}
.virtual-content{
  text-align: left;
}
.virtual-left{
  opacity: 0;
  transition: 1s;
  cursor: pointer;
  transform: scale(0.5);
}
.virtual-left img{
  transition: 0.4s;
}
.virtual-left img:hover{
  transform: scale(1.05);
}
.virtual-content .section-title{
  margin-bottom: 15px;
}
.virtual-right{
  cursor: pointer;
  opacity: 0;
  transition: 1s;
  transform: translateY(300px);
}
.virtual-right .virtual-img img{
  width: 100%;
}
.virtual-right .virtual-img img{
  transition: 0.4s;
}
.virtual-right .virtual-img img:hover{
  transform: scale(1.05);
}


/* {=================== virtual-office end ==================} */
/* {=================== Community start =========================} */
.cummunity{
  background-repeat: no-repeat;
  padding-bottom: 150px;
  padding-top: 190px;
}
.community-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.community-items::before{
  content: "";
  width: 100%;
  height: 260px;
  position: absolute;
  background-image:url(../images/community-before.png);
  background-repeat: no-repeat;
  top: 277px;
  left: 0%;
  opacity: 0.4;
  z-index: -1;
  }
.community-title h1 span{
  background: linear-gradient(90deg, #6AFFB0 0%, #00DDFF 52.43%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.community-items{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.community-items .community-item {
  cursor: pointer;
  opacity: 0;
  transition: 1s;
  transform: scale(0.5);
}
.community-items .community-item .community-item-img .com-2{
display: none;
}
.community-items .community-item:hover .community-item-img .com-2{
display: block;
}
.community-items .community-item:hover .community-item-img .com-1{
display: none;
}

.community-item-img img {
  width: 100%;
}

/* {=================== Community end =========================} */

/* {===================== Backer start ==================} */
section.backer {
  padding-top: 250px;
  position: relative;
}
.backer-title h1 span{
  background: linear-gradient(90deg, #6AFFB0 0%, #00DDFF 52.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.backer-items{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  margin-top: 50px;
}
.backer-items .backer-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: 1s;
  transform:translateY(150px);
}
.backer-items .backer-item .backer-2{
  display: none;
}
.backer-items .backer-item:hover .backer-2{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backer-items .backer-item:hover .backer-1{
  display: none;
  transition: 0.4s;
}
.backer-1 {
  width: 80%;
}
.backer-2 {
  width: 80%;
}
.backer-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* {===================== Backer end ==================} */
